body {
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 11px;
  color: hsl(0, 0%, 95%);
  }

h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}

/* General changes for card */

.card-main {
  padding: 7% 15%;
  height: 80px;
  line-height: 2;
  }

.card-pad-0{
    padding-right: 0px;
    padding-left: 0px;
}

.card-text{
  padding-right: 20%;
  padding-bottom: 10%;
}


/* overriding border */

.card-border-0{
  border: none;
}

/* Card one */

.card-one {
  background-color: hsl(31, 77%, 52%);
  height: 365px;
  padding-left: 40px;
  padding-right: 25px;
  }

.personalized-btn-one{
  border-radius: 50%;
}

/* card-two */
.card-two {
  background-color: hsl(184, 100%, 22%);
  height: 365px;
  padding-left: 40px;
  padding-right: 25px;
}

/* card-three */
.card-three {
  background-color: hsl(179, 100%, 13%);
  height: 365px;
  padding-left: 40px;
  padding-right: 25px;
}

/* Icons */

.icon{
  padding: 15px 0px 30px;
}

/* Attribution */

.attribution{
  color: #000;
  text-align: center;
  padding-top: 3%;
  }

/* Buttons */

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 35px;
   line-height: 12px;
   color: hsl(31, 77%, 52%);
   font-family: Verdana;
   width: 102px;
   font-size: 12px;
   font-weight: 200;
   padding: 10px;
   background-color: #FFFFFF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
  color:#FFFFFF;
   background: hsl(31, 77%, 52%);
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.btn-two {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 35px;
   line-height: 12px;
   color: hsl(184, 100%, 22%);
   font-family: Verdana;
   width: 102px;
   font-size: 12px;
   font-weight: 200;
   padding: 10px;
   background-color: #FFFFFF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-two:hover {
  color:#FFFFFF;
   background: hsl(184, 100%, 22%);
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.btn-three {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 35px;
   line-height: 12px;
   color:  hsl(179, 100%, 13%);
   font-family: Verdana;
   width: 102px;
   font-size: 12px;
   font-weight: 200;
   padding: 10px;
   background-color: #FFFFFF;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn-three:hover {
  color:#FFFFFF;
   background:  hsl(179, 100%, 13%);
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
